{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
{% load static %}
<div class="container">
    <div class="row">
      <div class="col-6">
        <h1>Маргарита Вячеславовна <h1>  <h2>Автор проекта</h2>
        <p>В 2007 году я обцчалась по специализиции "Информационные системы", мне всегда было любопытно устройство ПК и 
            другой техники. Так сложилось, что я занималась графическим дизайном около десяти лет (это разработка в сфере рекламы:
            баннеры, стенды и тому подобное), но не бросала и изучение того, как устроена технически сторона ПК.</p>
        <p>В 2021 году решилась на важный для меня шаг. Долго искала и перебирала варианты, где можно было обучиться 
            написанию программ и пришла в Яндекс-Практикум!
        <p>Здесь я и начала открывать для себя новые знания и возможности! Открыла для себя PYTHON и благодаря
            учителям - наставникам, я надеюсь разобраться и стать профессионалом своего дела!<p>
        </p>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <img src="{% static 'img/me.jpg'  %}"  border="25px" width="600px" align="top" >
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-8">
        <h2>Контакты для связи</h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p>Телефон: +7 (777) 777-777-77</p>
        <p>Почта: <a href="mailto: test@yandex.kz">test@yandex.kz</a></p>
        <p>Телеграм: @free</p>
      </div>
    </div>
  </div>
{% endblock %} 
